{% extends 'page.html' %}
{% set action = c.action %}

{%- block subtitle %}API Helper{% endblock -%}

{%- block styles %}
{{ super() }}
{% resource 'ckanext-apihelper/css/apihelper.css' %}
{% endblock -%}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('API Helper'), controller='ckanext.apihelper.plugin:APIHelperController', action='get' %}</li>
{% endblock %}


{% block content_primary_nav %}
{% endblock %}

{% block primary_content_inner %}
  <article class="module">
    <div class="module-content">
      {% block action_form %}
      <form class="dataset-form form-horizontal" method="get">
        {# Select action #}
        {{ h.snippet('apihelper/snippets/form_action_list.html', action=action) }}

        <div id="apihelper-help">
            {% if h.lang() == 'fr' %}
                Sélectionnez l’appel d’interface de programmation d’application (API) pour lequel vous souhaitez consulter la documentation.
            {% else %}
                Select an API call to see it's documentation.
            {% endif %}

        </div>

        {# Area to give form parameters #}
        {% block apihelper_get_params %}
        {% if action == 'get' %}
        {{ h.snippet('apihelper/snippets/form_get_params.html') }}
        {% else %}
        {{ h.snippet('apihelper/snippets/form_post_params.html') }}
        {% endif %}
        {% endblock %}

        {# Submit button #}
        <button class="btn mrgn-tp-sm" name="save" data-module-action="{{ action }}" data-module="apihelper-submit" value="finish">Submit</button>

        {# TODO: Area to show API ouput #}
        <pre id="apihelper-output" class="invisible"></pre>
      </form>
      {% endblock %}
    </div>
  </article>
{% resource 'ckanext-apihelper/scripts/apihelper.js' %}
{% endblock %}

{% block secondary %}
  <div class="col-md-3 col-md-push-9"
    <section class="panel panel-info">
      <header class="panel-heading">
        <h3 class="panel-title">
            {% if h.lang() == 'fr' %}
                Comment utiliser cette page
            {% else %}
                How to use this page
            {% endif %}
        </h3>
      </header>
      <div class="panel panel-body">
          {% if h.lang() == 'fr' %}
          <p>
              Sélectionnez l’appel d’interface de programmation d’application (API) pour lequel vous souhaitez consulter la documentation. Celle-ci contient une description de l’appel, la liste des paramètres qui peuvent être transmis à chaque appel ainsi que leur description.

              Vous pouvez effectuer un appel d’API en cliquant sur le bouton ci-dessous. Si l’appel exige la transmission de paramètres, inscrivez-les dans les boîtes de paires clé/valeur; ils seront alors transmis sous forme de chaînes encodées en URL.

              Pour interagir avec l’API dans le langage de programmation de votre choix, <a href="https://github.com/ckan/ckan/wiki/CKAN-API-Clients">consultez l’adresse suivante, où vous trouverez la bibliothèque client correspondante</a>

          </p>

          {% else %}
          <p>
              Select an API call for which you wish to see the documentation. The documentation shows the description of the call, as well as what parameters can be passed to each call, as well as the parameter descriptions.

              You can execute an API call by clicking on the button below. If your call requires parameters to be passed, you can use the key/value pair boxes to enter said parameter and they will be passed as url-encoded strings.

              To interact with the API in your favourite programming language, <a href="https://github.com/ckan/ckan/wiki/CKAN-API-Clients">check this page for a suitable client library:</a>

          </p>
          {% endif %}
      </div>
    </section>
  </div>

  {% include 'apihelper/snippets/docs.html' %}
{% endblock %}


{%- block scripts %}
<script>
  var lang = "{{h.lang()}}"
  var action_help = {{ h.dump_json(h.apihelper_action_list(action)) | safe }};
</script>
{{ super() }}
{% endblock -%}
